body{
  margin: 0px !important;
}

.header{
  display: flex;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  justify-content: center;
  align-items: center;
}

.header div{
  font-size: 24px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 600;
  margin-left: 20px;
}

.logo{
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.green{
  color: rgb(13, 66, 13);
}

.blue{
  color: blue;
}

.navbar{
  background-color: #012D1E;
  display: flex;
  color: white;
  width: 100%;
  font-size: 18px;
  justify-content: space-around;
}

.navbar a{
  color: white;
  text-decoration: none;
}

.navbar div{
  padding: 10px;
}

.navbar div:hover{
  background-color: #D3A24D;
}

.container{
  display: flex;
  width: 100%;
}

.sidebar{
  width: 30%;
  background-color: #F6CBB5;
  color: #BD9776;
  font-size: 18px;
  font-weight: 600;
  font-family: cursive;
  /* position: relative;
  right: 250px; */
}

/* .sidebar:hover{
  right: 0px;
} */

.sidebar h2{
  text-align: center;
}

.sidebar ul{
  width: fit-content;
  margin: auto;
}

ul li{
  margin-bottom: 10px;
}

.content{
  width: 70%;
  padding: 20px 25px;
  font-size: 18px;
}

.feed{
  max-height: 400px;
  overflow: auto;
}

.img-content{
  display: flex;
  justify-content: space-between;
  font-size: 28px;
  font-weight: 700;
  font-family: fantasy;
  padding: 20px 50px;
  align-items: center;
}

.img-content img{
  height: 200px;
}

.footer{
  display: flex;
  background-color: #46423e;
  color: white;
  font-size: 20px;
  font-weight: 700;
  justify-content: space-between;
  padding: 10px 25px;
}

.login-box{
  width: 40%;
  padding: 40px;
  box-shadow: 0px 4px 8px #012D1E;
  margin: 100px auto;
  border-radius: 12px;
}

.login-box:hover{
  box-shadow: 0px 6px 12px #012D1E;
}

.login-body{
  background-color: #C2DCD9;
}

.form-group{
  margin-bottom: 20px;
  width: 100%;
}

.form-group label{
  display: block;
  font-size: 20px;
  font-family: cursive;
  font-weight: 600;
}

.form-group input{
  width: 100%;
  border-radius: 6px;
  padding: 4px 8px;
}

.form-group button{
  padding: 6px 30px;
  font-size: 18px;
  font-weight: 600;
  background-color: #012D1E;
  color: white;
  border-radius: 8px;
}